body {
	position: relative;
	font-family: 'Raleway', sans-serif;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.829), rgba(247, 247, 247, 0.966)), url('../images/bgindex.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.section {
	position: relative;
	display: block;
}

.section .section-center {
	position: absolute;
	left: 0;
	right: 0;
	top: 50px;
}


.booking-form {
	background: #f7f7f7;
	max-width: 768px;
	width: 100%;
	margin: auto;
	padding: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.404);
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 20px;
}

.booking-form .form-control {
	background-color: transparent;
	height: 65px;
	padding: 0px 15px;
	border-radius: 0px;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	color: rgb(46, 45, 45);
	border: 0px;
	font-size: 16px;
	font-weight: 700;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 2px solid #757575;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: rgba(32, 32, 32, 0.63);
}

.booking-form .form-control:-ms-input-placeholder {
	color: rgba(32, 32, 32, 0.63);
}

.booking-form .form-control::placeholder {
	color: rgba(32, 32, 32, 0.63);
}

.booking-form .form-group.input-not-empty .form-control {
	border-color: rgb(94, 93, 93);
	padding-bottom: 20px;
}

.booking-form .form-label {
	color: #000;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 24px;
	height: 24px;
	font-size: 14px;
	position: absolute;
	left: 0;
	bottom: 0px;
	opacity: 0;
	pointer-events: none;
	display: block;
	width: 100%;
	background: #858585;
	padding: 0px 15px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .form-group.input-not-empty .form-label {
	opacity: 1;
	bottom: 0px;
	color: #f3f3f3;
	background: rgb(61, 61, 61);
}

.booking-form input[type="date"].form-control,
.booking-form input[type="time"].form-control {
	padding-bottom: 20px;
}

.booking-form input[type="date"].form-control:invalid,
.booking-form input[type="time"].form-control:invalid {
	color: rgba(56, 56, 56, 0.63);
}

.booking-form input[type="date"].form-control+.form-label,
.booking-form input[type="time"].form-control+.form-label {
	color: #d3d3d3;
	opacity: 1;
}

.booking-form select.form-control {
	padding-bottom: 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control option {
	color: #141414;
}

.booking-form select.form-control:invalid {
	color: rgba(32, 32, 32, 0.61);
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 26px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: rgba(37, 37, 37, 0.644);
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-group.input-not-empty select.form-control+.select-arrow {
	color: rgb(219, 219, 219);
}

.booking-form select.form-control~.form-label {
	color: #1f1c1c;
	opacity: 1;
}

.booking-form .form-btn {
	margin-top: 10px;
}

.element-animate {
	opacity: 0;
	visibility: hidden;
}

#loader {
	position: fixed;
	width: 96px;
	height: 96px;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: rgba(255, 255, 255, 0.432);
	-webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
	box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
	border-radius: 16px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
	-o-transition: opacity .2s ease-out, visibility 0s linear .2s;
	transition: opacity .2s ease-out, visibility 0s linear .2s;
	z-index: 1000;
}

#loader.fullscreen {
	padding: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	background-color: rgb(241, 237, 237);
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#loader.show {
	-webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
	-o-transition: opacity .4s ease-out, visibility 0s linear 0s;
	transition: opacity .4s ease-out, visibility 0s linear 0s;
	visibility: visible;
	opacity: 1;
}

#loader .circular {
	-webkit-animation: loader-rotate 2s linear infinite;
	animation: loader-rotate 2s linear infinite;
	position: absolute;
	left: calc(50% - 24px);
	top: calc(50% - 24px);
	display: block;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

#loader .path {
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	-webkit-animation: loader-dash 1.5s ease-in-out infinite;
	animation: loader-dash 1.5s ease-in-out infinite;
	stroke-linecap: round;
}

@-webkit-keyframes loader-rotate {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes loader-rotate {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes loader-dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}

	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}

	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -136px;
	}
}

@keyframes loader-dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}

	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}

	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -136px;
	}
}


.booking-form .submit-btn {
	font-weight: 700;
	height: 55px;
	color: #fff;
	background-color: #ff792c;
	font-size: 18px;
	border-radius: 0px;
	width: 100%;
	border: none;
}

.booking-form .submit-btn:hover {
	border-color: #c7c7c7;
	background: #803d10;
	color: #ffffff;
}

.booking-form .btn-me {
	padding: 15px;
	font-weight: 700;
	height: 55px;
	font-size: 18px;
	border-radius: 0px;
	width: 100%;
	border: none;
	color: #f0f0f0;
	background-color: #359608;
}

.booking-form .btn-me:hover {
	border-color: #3d8502;
	background: #3d8502;
}

.back {
	margin-bottom: 5%;
}

.backtext {
	float: left;
	text-align: left;
	color: rgb(24, 24, 24);
	font-weight: 600;
}

.backtext:hover {
	color: #ff8800;
}

.navlogo {
	float: right;
}